<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Listar Pedidos</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
	integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
	crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Sistema de Ventas</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
        <a class="nav-link" href="/listarPedidos">Pedidos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/listarBitacora">Bitacora de Entradas y Salidas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/listarProveedores">Proveedores</a>
      </li>
      </ul>
      
    </div>
  </nav>
<br>
<div th:classappend="'alert-' + (${clase != null} ? ${clase} : info)" th:if="${mensaje != null}"
     th:text="${mensaje}"
     class="alert">
</div>
<h3 class="text-center" style="font-family: cursive">Listado de Pedidos</h3>
<form th:action="@{/redirectPedido}" method="post">
<input type="submit" value="Agregar Predido" class="btn btn-success btn-sm" /> </form>
<br>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Fecha Pedido</th>
      <th scope="col">Fecha Entrega</th>
      <th scope="col">Nombre Destinatario</th>
      <th scope="col">Direccion de Destinatario</th>
      <th scope="col">Ciudad</th>
      <th scope="col">Codigo Postal</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tbody style="background-color: #FEB706">
			<tr th:each="pedido: ${pedidos}" style = "font-family:Comic Sans">
					<td th:text="${pedido.id}"></td>
					<td th:text="${pedido.strFechaPedido}"></td>
					<td th:text="${pedido.strFechaEntrega}"></td>
					<td th:text="${pedido.strNombreDestinatario}"></td>	
					<td th:text="${pedido.strDireccionDestinatario}"></td>
					<td th:text="${pedido.strCiudadDestinatario}"></td>
					<td th:text="${pedido.strCodigoPostalDestinatario}"></td>	
					<td><a th:href="@{/detallePedido/} + ${pedido.id}"
						th:text="'Detalle Pedidos'" class="btn btn-success btn-xs"></a></td>
				</tr>	
	</tbody>
</table>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
			integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
			crossorigin="anonymous"></script>
		<script
			src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
			integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
			crossorigin="anonymous"></script>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
			integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
			crossorigin="anonymous"></script>
</body>
</html>